<div id="back-slider" style="z-index: 1;">
    <div class="carousel carousel-slider z-depth-2">
        <a class="carousel-item">
            <img src="../../../images/sliders/1.jpg" width="100%">
        </a>
        <a class="carousel-item">
            <img src="../../../images/sliders/2.jpg" width="100%">
        </a>
        <a class="carousel-item">
            <img src="../../../images/sliders/3.jpg" width="100%">
        </a>
        <a class="carousel-item">
            <img src="../../../images/sliders/4.jpg" width="100%">
        </a>
    </div>
</div>
<div id="login-card" style="z-index: 5; position: absolute; top: 15%; right: 5%;" ng-controller="loginController as loginCtrl">

    <div ng-show="currentUser == null " class="card-panel right hide-on-med-and-down z-depth-4">
        <form ng-submit="login()" style="width: 100%">
            <div class="row">
                <div class="input-field col s12">
                    <input id="email-login-card" type="email" class="validate" ng-model="user.email">
                    <label for="email-login-card" data-error="wrong" data-success="right">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password-login-card" type="password" class="validate" ng-model="user.password">
                    <label for="password-login-card">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="preloader-wrapper active" ng-show="loader">
                        <div class="spinner-layer spinner-red-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                    <input ng-show="!loader" type="submit" class="btn green" value="Login" style="width: 100%">
                </div>
            </div>
        </form>
    </div>
</div>
<div>
    <div class="container">
        <div class="card-panel hoverable">
            <div class="row">
                <div class="col s12 m4 l4">
                    <div class="">
                        <img src="../../../images/home-chem.jpg" alt="" width="70%">
                    </div>
                </div>
                <div class="col s12 m8 l8">
                    <div class="">
                        <p>
                            Chemistry is the scientific discipline involved with compounds composed of atoms, i.e. elements, and molecules, i.e. combinations
                            of atoms: their composition, structure, properties, behavior and the changes they undergo during
                            a reaction with other compounds.[1][2] Chemistry addresses topics such as how atoms and molecules
                            interact via chemical bonds to form new chemical compounds. There are four types of chemical
                            bonds: covalent bonds, in which compounds share one or more electron(s); ionic bonds, in which
                            a compound donates one or more electrons to another compound to produce ions (cations and anions);
                            hydrogen bonds; and Van der Waals force bonds.

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-panel hoverable">
            <div class="row">
                <div class="col s12 m8 l8">
                    <div class="">
                        <p>
                            Chemistry is the scientific discipline involved with compounds composed of atoms, i.e. elements, and molecules, i.e. combinations
                            of atoms: their composition, structure, properties, behavior and the changes they undergo during
                            a reaction with other compounds.[1][2] Chemistry addresses topics such as how atoms and molecules
                            interact via chemical bonds to form new chemical compounds. There are four types of chemical
                            bonds: covalent bonds, in which compounds share one or more electron(s); ionic bonds, in which
                            a compound donates one or more electrons to another compound to produce ions (cations and anions);
                            hydrogen bonds; and Van der Waals force bonds.
                        </p>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <div class="">
                        <img class="right" src="../../../images/home-chem.jpg" alt="" width="70%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
