<!-- <div>
    <div class="carousel carousel-slider">
        <a class="carousel-item" href="">
            <img src="images/mass.jpg">
        </a>
        <a class="carousel-item" href="">
            <img src="images/computer.jpg">
        </a> 
        <a class="carousel-item" href="">
            <img src="images/english.jpg">
        </a>
        <a class="carousel-item" href="">
            <img src="images/maths.jpg">
        </a>
        <a class="carousel-item" href="">
            <img src="images/chemistry.jpg">
        </a>
        <a class="carousel-item" href="">
            <img src="images/physics.jpg">
        </a>
    </div>
</div> -->

<div class="row">
    <div class="col m6" style="padding: 5px">
        <div class="card sticky-action hoverable">
            <div class="card-image">
                <img height="300px" width="243px" class="activator" src="images/english-card.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4 ">English
                    <i class="material-icons right">more_vert</i>
                </span>
            </div>
            <div class="card-action">
                <div class="row">
                    <div class="col m6">
                        <center>
                            <a href="" class="waves-effect btn btn-large">
                                <i class="material-icons right">error</i>Try</a>
                        </center>
                    </div>
                    <div class="col m6">
                        <center>
                            <a href="" class="waves-effect btn btn-large">
                                <i class="material-icons right">done_all</i>Buy</a>
                        </center>
                    </div>
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">
                    <i class="material-icons right">close</i>English</span>
                <p>English language tutorial. Learn English grammar and vocabulary with games, audio, online English lessons,
                    and more!</p>
            </div>
        </div>
    </div>
    <div class="col m6" style="padding: 5px">
        <div class="card sticky-action hoverable">
            <div class="card-image">
                <img height="300px" width="243px" class="activator" src="images/science-card.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Science
                    <i class="material-icons right pulse">more_vert</i>
                </span>
            </div>
            <div class="card-action">
                <div class="row">
                    <div class="col m6">
                        <center>
                            <a href="" class="waves-effect btn btn-large" ng-click="openQuesModal()">
                                <i class="material-icons right">error</i>Try</a>
                        </center>
                    </div>
                    <div class="col m6">
                        <center>
                            <a href="" class="waves-effect btn btn-large">
                                <i class="material-icons right">done_all</i>Buy</a>
                        </center>
                    </div>
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">
                    <i class="material-icons right">close</i>Science</span>
                <p>Everything from Research and Study Basics to Kingdoms are explored and discovered in Basic Science. You will
                    find tutorials on such topics as Geology, Cells and Genetics, Evolution, Weather and Climate, and Energy
                    in this tremendously packed course. Be inspired by everything living on this planet </p>
            </div>
        </div>
    </div>
    <div class="col m6" style="padding: 5px">
        <div class="card sticky-action hoverable">
            <div class="card-image">
                <img height="300px" width="243px" class="activator" src="images/physics-card.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Physics
                    <i class="material-icons right">more_vert</i>
                </span>
            </div>
            <div class="card-action">
                <div class="row">
                    <div class="col m6">
                        <center>
                            <a href="" class="waves-effect btn btn-large">
                                <i class="material-icons right">error</i>Try</a>
                        </center>
                    </div>
                    <div class="col m6">
                        <center>
                            <a href="" class="waves-effect btn btn-large">
                                <i class="material-icons right ">done_all</i>Buy</a>
                        </center>
                    </div>
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">
                    <i class="material-icons right">close</i>Physics</span>
                <p>In this tutorial we begin to explore ideas of velocity and acceleration. We do exciting things like throw
                    things off cliffs (far safer on paper than in real life) and see how high a ball will fly in the air.
                    Introduction to physics · Displacement, velocity, and time · Acceleration · Kinematic formulas and projectile
                    motion.
                </p>
            </div>
        </div>
    </div>
    <div class="col m6" style="padding: 5px">
        <div class="card sticky-action hoverable">
            <div class="card-image">
                <img height="300px" width="243px" class="activator" src="images/computer-card.jpg">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Computer Science
                    <i class="material-icons right pulse">more_vert</i>
                </span>
            </div>
            <div class="card-action">
                <div class="row">
                    <div class="col m6">
                        <center>
                            <a href="" class="waves-effect btn btn-large">
                                <i class="material-icons right">error</i>Try</a>
                        </center>
                    </div>
                    <div class="col m6">
                        <center>
                            <a href="" class="waves-effect btn btn-large">
                                <i class="material-icons right">done_all</i>Buy</a>
                        </center>
                    </div>
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">
                    <i class="material-icons right">close</i>Computer Science</span>
                <p>Acids and Bases · Acidic and Basic Properties of Salts · Buffers · Titrations: Strong Acids and Strong Bases
                    · Titrations: Weak Acids and Strong Bases · Amino Acid Titrations · Non-Standard Electrochemical Cells
                    · Electroplating · Chemical Kinetics: Rate Constants and Rate Laws · Integrated Rate Laws: Half Lives
                    ·
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Modal Structure -->
<div id="quesModal" class="modal">
    <div class="modal-content">
        <div class="carousel" ng-repeat="que in questions">
            <a class="carousel-item">
                <div class="row">
                    <div class="col s12 m7">
                        <div class="card">
                            <div class="card-content">
                                <p>que.question</p>
                                <form action="">
                                    <p>
                                        <input class="with-gap" name="group1" type="radio" id="op1" />
                                        <label for="op1">{{que.op1}}</label>
                                    </p>
                                    <p>
                                        <input class="with-gap" name="group1" type="radio" id="op2" />
                                        <label for="op1">{{que.op2}}</label>
                                    </p>
                                    <p>
                                        <input class="with-gap" name="group1" type="radio" id="op3" />
                                        <label for="op1">{{que.op3}}</label>
                                    </p>
                                    <p>
                                        <input class="with-gap" name="group1" type="radio" id="op4" />
                                        <label for="op1">{{que.op4}}</label>
                                    </p>
                                    <div class="row">
                                        <div class="col s12">
                                            <input type="submit" class="btn green" value="Submit">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>


<script>
    $(document).ready(function () {
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
        $('.carousel').carousel({fullWidth: true});
    });
</script>